.main{
    width: 100vw;
    height:100vh;
    // background-image: linear-gradient(rgb(6, 26, 63), rgb(48, 103, 221));
    background:#F0F0F0;
    display: grid;
    place-content: center;
    font-family: 'Arial Narrow Bold', sans-serif;
}

.tasks{
    background: #213555;
    padding: 20px;
    border-radius: 10px;

    &__title{
        font-size: 2rem;
        color: rgb(238, 238, 238);
    }

    &__bar{
        padding: 20px 0px;
    }
}

input[type="text"]{
    width: 70%;
    height: 30px;
}
input[type="submit"]{
    width: 30%;
    height: 30px;
    color: black;
}